{% extends 'user_base.html' %}

{% block title %}Greeter Guru Home{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff %}

  <script>window.location.href = "{% url 'admin:index' %}";</script>

{% elif user.is_authenticated and user.is_staff != true %}

  <p>Hello, {{ user.first_name }} {{ user.last_name }}!</p>
  <p>Employee ID: {{ user.emp_ID }}</p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}

  <script>window.location.href = '/users/login'</script>

{% endif %}

{% endblock %}
